:root {
	--color-gray-light-1: #f8f8f8;
	--color-gray-light-3: #dedede;
	--color-gray-dark-1: #545454;
	--color-gray-dark-3: #9a9a9a;
	--color-tiffany: #00a6a6;
	--profile-theme: #4682bf;
	--color:black;
}

[data-theme="dark"] {
    --color-gray-light-1: #292929;		/*background intro-section under profile*/
	--color-gray-light-3: black;		/*background not cv*/
	--color-gray-dark-1: #f9f211;		/* color intro-section under profile*/
	--color-gray-dark-3: red;			/*skill*//*border interest*/
	--color-tiffany: #00a6a6; 			/*intersts*/
	--profile-theme: #00ffcb;			/*profile*/
	--color:white;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #999;
  bottom: -10px;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #eee;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
	font-size: 100%;
    font-family: sans-serif;


}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 3rem 1rem;
	min-height: 100vh;
	background-color: var(--color-gray-light-3);
}
.theme-switch-wrapper{
	color: var(--color);
}
.wrapper {
	margin: 0 auto;
	max-width: 70rem;
	display: flex;
	box-shadow: 0px 0px 15px 4px #b3b3b3;
}

.intro {
	flex: 0 0 250px;
	background-color: var(--color-gray-light-1);
	box-shadow: 5px 0px 15px 0px #b3b3b3;
	z-index: 5;
}
.profile {
	position: relative;
	background-color: var(--profile-theme);
	padding: 2rem 1rem;
	margin-bottom: 50px;
	text-align: center;
	user-select: none;
}

.photo img {
	width: 80%;
	border-radius: 50%;
}
.bio .name {
	font-size: 1.4rem;
	text-align: center;
	color: var(--color-gray-light-1);
	margin: 0;
	margin-top: 1rem;
}
.bio .profession {
	font-size: 1rem;
	text-align: center;
	color: var(--color-gray-light-1);
	margin: 0;
}
.intro-section {

	padding: 0 1rem;
	color: var(--color-gray-dark-1);
}
.title {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.paragraph {
	text-align: justify;
}
.info-section {
	margin: 1rem 0;
	position: relative;
	transition: all 0.3s;
}


/* Detail section overall setting*/
.detail {
	flex: 1 0 0;
	background-color: var(--color-gray-light-1);
	padding: 2rem;
	color: var(--color);
}
.detail:hover > .detail-section:not(:hover) {
	opacity: 0.3;
}
.detail-section {
	transition: all 0.3s;
}

.detail-title {
	display: flex;
	align-items: center;
}
.detail-section > .detail-content {
	padding: 1.5rem;
	padding-left: 2rem;
	user-select: none;
}
	
/* Programming skills section */

.pg-list > li {	
	margin: 1rem 0;
	display: flex;
	align-items: center;
}
.sb-skeleton {
	position: relative;
	flex: 1 0 auto;
	height: 2px;
	background-color: var(--color-gray-dark-3);
}
.pg-list > li > span {
	flex: 0 0 100px;
}
.sb-skeleton > .skillbar {
	position: absolute;
	left: 0;
	top: -1px;
	width: var(--pgbar-length);
	height: 4px;
	background-color: var(--profile-theme);
}

/* Interests Section */
.outer-frame {
	border: 1px solid var(--color-gray-dark-3);
	border-radius: 5px;
}
.favor-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}
.favor-list > li {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	justify-content: baseline;
	flex-direction: column;
	color: var(--profile-theme);
	padding: 1rem 0;
	transition: all 0.3s;
}
.favor-list > li > i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 50px;
	height: 50px;
}
.favor-list > li:hover {
	transform: scale(1.2);
	color: var(--color-tiffany);
}
.favor-list > li > span {
	letter-spacing: 1px;
}



@media (max-width: 1024px) {
	html {
		font-size: 90%;
	}
	.wrapper {
		flex-direction: column;
	}
	.intro, .detail {
		flex: 0 0 100%;
		box-shadow: none;
	}
	.intro-section {
		padding: 0 2rem;
	}
	.profile {
		margin-bottom: 1rem;
	}
	.profile::after {
		display: none;
	}
	.photo img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	.tool-list {
		flex-wrap: wrap;
	}
	.tool-list > li {
		flex: 0 0 33.33%;
	}
	.favor-list > li {
		flex: 0 0 33.3333%;
	}
}
@media (max-width: 500px) {
	html {
		font-size: 70%;
	}
} 